{% extends "administration/layouts/base.html" %}
{% load humanize %}
{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<style>
.floated-right{float:right;}
</style>
<div class='row'>
    <div class="col-md-12">
        <div class="deleter">
            {% if ads.count > 0 %}
            <form method="POST">
                {% csrf_token %}
                <button class="btn btn-primary floated-right">
                    Delete All
                    <span>
                        <i class="tim-icons icon-trash-simple"></i>
                    </span>
                </a>
            </form>
            {% endif %}
        </div>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Expired Ads</h4>
                <p class="category">({{ads.count}})</p>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table tablesorter " id="">
                        <thead class=" text-primary">
                            <tr>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Category
                                </th>
                                <th>
                                    Price
                                </th>
                                <th class="text-center">
                                    Created
                                </th>
                               
                            </tr>
                        </thead>
                        <tbody>
                            {% for ad in ads %}
                            <tr>
                                <td>
                                    <a href="{% url 'products:detail' ad.product.code %}">
                                        {{ad.product.name}}
                                    </a>
                                </td>
                                <td>
                                    {{ad.ad_category}}
                                </td>
                                <td>
                                    {{ad.ad_category.price}}
                                </td>
                                
                                <td class="text-center">
                                    {{ad.product.created_time}}
                                </td>
                                
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="5">
                                    <p>No expired ads.</p>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}