{% extends "administration/layouts/base.html" %}
{% load humanize %}
{% load static %}
{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Pending Deliveries</h4>
        <p class="category"> All pending deliveries ({{pending_orders}})</p>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table tablesorter " id="">
            <thead class=" text-primary">
              <tr>
                <th>
                  Name
                </th>
                <th>
                  Location
                </th>
                <th>
                  Order Time
                </th>
                <th class="text-center">
                  Products
                </th>
                <th class="text-center">
                  Amount Paid
                </th>
                <th>
                  Action
                </th>
              </tr>
            </thead>
            <tbody>
              {% for order in pending_orders_list %}
              <tr>
                <td>
                  {{order.user.get_full_name}}
                </td>
                <td>
                  {{order.delivery_location}}
                </td>
                <td>
                  {{ order.created_time }}
                </td>
                <td class="text-center">
                  {{order.get_products}}
                </td>
                <td class="text-center">
                  &#8358;{{order.amount_paid|floatformat:2|intcomma}}
                </td>
                <td style="position:absolute"> 
                  <div class="dropdown">
                    <button type="button" class="btn btn-link dropdown-toggle btn-icon" data-toggle="dropdown">
                      <i class="tim-icons icon-pencil"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                      <a class="dropdown-item" href="{% url 'admn:deliver_order' order.id %}">
                        Mark as Delivered</a>
                    </div>
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="card card-chart">
      <div class="card-header ">
        <div class="row">
          <div class="col-sm-6 text-left">
            <h5 class="card-category">Total Orders</h5>
            <h2 class="card-title">Orders</h2>
          </div>
          <div class="col-sm-6">
            <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
              <label class="btn btn-sm btn-primary btn-simple active" id="0">
                <input type="radio" name="options" checked>
                <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Paid</span>
                <span class="d-block d-sm-none">
                  <i class="tim-icons icon-single-02"></i>
                </span>
              </label>
              <label class="btn btn-sm btn-primary btn-simple" id="2">
                <input type="radio" class="d-none" name="options">
                <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Unpaid</span>
                <span class="d-block d-sm-none">
                  <i class="tim-icons icon-tap-02"></i>
                </span>
              </label>
            </div>
          </div>
        </div>
      </div>
      <!-- chart for orders -->
      <div class="card-body">
        <div class="chart-area">
          <canvas id="chartBig1"></canvas>
        </div>
      </div>
      <!-- end chart for orders -->
    </div>
  </div>

</div>



<!-- revenue -->
<div class="row">

  <div class="col-12">
    <div class="card card-chart">
      <div class="card-header ">
        <div class="row">
          <div class="col-sm-6 text-left">
            <h5 class="card-category">Total Revenue</h5>
            <h2 class="card-title">Revenue</h2>
          </div>
          <div class="col-sm-6">
            <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
              <!-- <label class="btn btn-sm btn-primary btn-simple active" id="0">
                <input type="radio" name="options" checked>
                <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Paid</span>
                <span class="d-block d-sm-none">
                  <i class="tim-icons icon-single-02"></i>
                </span>
              </label>
              <label class="btn btn-sm btn-primary btn-simple" id="2">
                <input type="radio" class="d-none" name="options">
                <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Unpaid</span>
                <span class="d-block d-sm-none">
                  <i class="tim-icons icon-tap-02"></i>
                </span>
              </label> -->
            </div>
          </div>
        </div>
      </div>
      <!-- chart for orders -->
      <div class="card-body">
        <div class="chart-area">
          <canvas id="chartBig2"></canvas>
        </div>
      </div>
      <!-- end chart for orders -->
    </div>
  </div>

</div>
<!-- end revenue -->


<div class="row">

  <div class="col-lg-12 col-md-12">
    <div class="card ">
      <div class="card-header">
        <h4 class="card-title">Current Ads</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table tablesorter " id="">
            <thead class=" text-primary">
              <tr>
                <th>
                  Seller
                </th>
                <th>
                  Name
                </th>
                <th>
                  Plan
                </th>
                <th>
                  Expires
                </th>
                <th class="text-center">
                  Fee
                </th>
                <th class="text-center">
                  Views
                </th>
              </tr>
            </thead>
            <tbody>
              {% for ad in ads %}
              <tr>
                <td>
                  {{ad.seller.brand_name}}
                </td>
                <td>
                  <a href="{% url 'products:detail' ad.product.code %}">
                    {{ad.product.name}}</a>
                </td>
                <td>
                  {{ad.ad_category.name}}
                </td>
                <td>
                  {{ad.ending_date}}
                </td>
                <td class="text-center">
                  &#8358;{{ad.ad_category.cost|floatformat:2|intcomma}}
                </td>
                <td class="text-center">
                  {{ad.view}}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="{% static 'administration/assets/demo/demo.js' %}"></script>
<script>
  var paidData, unpaidData, revenue;
  let orderDataURL = "{% url 'admn:order_data' %}"
  $(document).ready(function () {
    $.ajax({
      type: 'GET',
      url: orderDataURL,
      success: function (response) {
        paidData = response.paid;
        unpaidData = response.unpaid;
        revenue = response.revenue;
        demo.initDashboardPageCharts();
      },
      error: function (response) {
        alert('E choke')
      }
    })
    // Javascript method's body can be found in assets/js/demos.js

  });
</script>
{% endblock javascripts %}