{% extends 'base.html' %}
{% block title %}Farmer{% endblock %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock %}
{% block content %}
<div class="container jumbotron">
    <h1  style="color: green;">Farm Details</h1>
    <form method="POST" class="in_form">
        {% csrf_token %}
        {{form.as_p}}
        <br>
        <input type="submit" value="Submit" class="input-submit">
    </form>
</div>
<style>
    .in_form{
        width:60vw;
    }
    form input[type="checkbox"]:before {
        content: '\f096';}

        form input[type="checkbox"]:checked:before {
            content: '\f046';
        }
        .helptext{
            font-size:0.8rem;
            color: #098030;
            margin-bottom:0.5rem;
        }
        select{
            background:#0980319f;
            padding:0.2rem 1rem;
            color:#fff;
            border:none;
            outline:none;
            border-radius:5px;
        }
    </style>
    {% endblock %}
    
