{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load paystack %}
{% block title %}{{title}}{% endblock title%}
{% block css %}
<link rel="stylesheet" href="{% static 'css/ads_presets.css' %}">
<link rel="stylesheet" href="{% static 'css/ads_details.css' %}">
<script src="{% static 'js/jquery.min.js' %}"></script>
{% endblock css%}
{% block content %}
<div class="plan_wrapper">
    {% if not is_seller %}
    <form action="" method="post" class="plan-form">
        {% if form.errors %}
        {{form.errors}}
        {% endif %}
        <small>Fill in your details to get started.</small>
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Submit" name="details_to_start">
    </form>
    <div class="shbackdrop"></div>
    {% endif %}
    <div class="backdrop"></div>
    <form action="{% url 'ads:ad_create' %}" class="ad-form" enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        <label for="category">Category</label>
        <select name="product_category" id="#">
            <option value="PROCESSED_FOOD">Processed Food</option>
            <option value="CROPS">Crops</option>
            <option value="FRUITS">Fruits</option>
            <option value="LIVESTOCK">Livestock</option>
            <option value="STUDENT_ITEMS">Student Items</option>
            <option value="FARM_TOOLS">Farm Tools</option>
            <option value="FARM_MACHINERY">Farm Machinery</option>
            <option value="FARM_SERVICES">Farm Services</option>
            <option value="FOOD_STUFF">Food Stuff</option>
            <option value="LAND">Land</option>
            <option value="OTHER">Other</option>
        </select>
        <label for="brand_name">brand Name</label>
        <input type="hidden" name="ad_category" value="{{ad_category.name}}">
        <input type="text" name="brand_name" id="" value="{{request.user.seller.brand_name}}">
        <label for="Product Name">Product Name</label>
        <input type="text" name="product_name" id="">
        <label for="whatsapp_no">Whatsapp Number</label>
        <input type="text" name="" id="" value="{{request.user.seller.whatsapp_number}}">
        <label for="description">Product Description</label>
        <textarea name="description" id="" cols="30" rows="10"></textarea>
        <label for="negotiable" style="display: inline-block;margin-bottom: 0.5rem;">Negotiable</label>
        <input type="checkbox" name="negotiable" id="">
        <label for="price">Price</label>
        <input type="number" name="price" id="">
        <label for="product_images">Image</label>
        <input type="file" multiple name="product_images" required>
        <label for="Location">Location</label>
        <input type="text" name="Location" id="" value="{{request.user.seller.location}}">
        <input type="submit" value="Add">
    </form>
    <div class="holder">
        <div class="centered">
            <h1 class="flex a-cent j-cent">{{ad_category.name}}</h1>
            <div class="plan_details flex-col a-cent j-cent">
                <p>Validity : {{ad_category.validity}}</p>
                <p>No of Ads : {{ad_category.no_of_ads}}</p>
                <p>Cost : &#8358;{{ad_category.cost|floatformat:2|intcomma}}</p>
            </div>
            <div class="user-ads flex j-cent">
                {% for user_ad in all_user_ads %}
                <div class="user-ad grid">
                    <img src="{{user_ad.sample.url}}" alt="">
                    <div class="details_ad">
                        <li class="flex">
                            <span>Displayed on:</span>
                            <span>{{user_ad.created.date}}</span>
                        </li>
                        <li class="flex">
                            <span>Ends on:</span>
                            <span>{{user_ad.ending_date.date}}</span>
                        </li>
                        <li class="flex">
                            <span>Views:</span>
                            <span>{{user_ad.view}}</span>
                        </li>
                        <li class="flex a-cent" style="justify-content: space-between">
                            {% if user_ad.product %}
                            <a href="{% url 'products:detail' user_ad.product.code %}" class="plan-cta">View Details</a>
                            {% endif %}
                            <img class='add_details' data-id={{user_ad.id}} src="{% static 'icons/add.svg' %}" alt=""
                                style="height:1.3rem;width:1.3rem;cursor:pointer;">
                        </li>
                    </div>
                </div>

                {% endfor %}
                <!-- <div class="user-ad grid"></div>
                 <div class="user-ad grid"></div> -->
                {% if category_user_ads_count < ad_category.no_of_ads %}
                <a href="#" class="plan-adder circ flex a-cent j-cent">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
                        style="height:1rem;stroke:#fff;fill:#fff;">
                        <path
                            d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z" />
                    </svg>
                </a>
                {% endif %}
                {% if is_not_free %}
                {% paystack_button amount=amount email=email button_class='btn-pay' %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="new_form">
        <form class="new" style="position: relative">
            {% csrf_token %}
            <img src="{% static 'icons/add.svg' %}" id='formsadder'
                style='position:absolute;right:1rem;bottom:1rem;height:1.2rem;width:1.2rem;cursor:pointer'>
            <div class="new_container">
                <input type="text" name="label" required placeholder="Label e.g Model Name" id='label'>
                <input type="text" name="value" required placeholder="Value" id='value'>
            </div>
            <input type="submit" id='doforms' class="submit" value="Create" style="background:seagreen;color:#fff;">
        </form>
    </div>
    <script>
        var forms = 0
        var adId;
        var adDetailsCreateURL = "{% url 'ads:ad_details_create' %}"
        $('.new').click(function (e) {
            e.stopPropagation()
        })
        $('.add_details').click(function () {
            adId = $(this).attr('data-id')
            $('.new_form').show()
        })
        $('.new_form').click(function () {
            $(this).hide()
        })
        $('#formsadder').click(function () {
            let newLabel = $('#label').clone()
            let newValue = $('#value').clone()
            newLabel.val('')
            newValue.val('')
            $(newLabel).appendTo($('.new_container'))
            $(newValue).appendTo($('.new_container'))
            forms += 1
            $(newLabel).attr('name', 'label' + forms)
            $(newValue).attr('name', 'value' + forms)
        })

        $('form.new').submit(function (e) {
            e.preventDefault()
            let data = $(this).serializeArray()
            data[data.length] = {
                name:'ad_id',
                value:adId
            }
            $.ajax({
                data:data,
                type:'POST',
                url:adDetailsCreateURL,
                success:function(response){
                    $('.new_form').hide()
                    alert('Successful!')
                },
                error:function(response){
                    alert('There was an error!')
                }
            })
        })
    </script>
    <script>

        let screen = document.querySelector('.backdrop');
        let form = document.querySelector('.ad-form');
        let cta = document.querySelector('.plan-adder')

        cta.addEventListener('click', () => {
            screen.classList.add('backdrop-show')
            form.classList.add('ad-form-show')
        })

        screen.addEventListener('click', () => {
            screen.classList.remove('backdrop-show')
            form.classList.remove('ad-form-show')
        })

        // hi
    </script>
    <style>
        .btn-pay {
            outline: none;
            border: none;
            background: forestgreen;
            color: #fff;
            padding: 0.4rem 1rem;
            border-radius: 5px;
            margin-left: 10px;
            cursor: pointer;
        }

        .new_form {
            height: 100vh;
            width: 100%;
            z-index: 4;
            position: fixed;
            background: rgba(0, 0, 0, 0.192);
            left: 0;
            top: 0;
            display: none;
            cursor: pointer;
        }

        .new_form form {
            background: #fff;
            border-radius: 5px;
            padding: 1rem;
            max-width: 300px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            position: absolute;
        }

        .new_form form input {
            display: block;
            padding: 0.4rem 0.5rem;
            border-radius: 5px;
            background: rgba(139, 127, 129, 0.335);
            border: none;
            margin-bottom: 1rem;
        }
    </style>
    {% endblock content%}
    {% block footer %}
    {% endblock footer %}