{% extends 'base.html' %}
{% load static %}
{% block title %}About Indus-Mega Farms{% endblock %}
{%block content %}
    <link rel="stylesheet" href="{% static 'css/about.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/presets.css' %}">
<div class="about_container" style="width:auto;">
    <h1>About <span style="color:green">Indus-Mega Farms</span></h1>
    <p>
        Founded in 2019, Indus-Mega Farms is a gap-bridger between 
        industrial markets and small farms. We encourage both small and large holder farmers to produce better by
        creating a working zero-waste/funding farming system in Nigeria. We also have built platforms to make agriculture attractive
        to young minds in Nigerian universities.

    </p>
</div>

{% endblock %}

   