<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'images/logo.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/presets.css' %}">
    {% block css %}{% endblock css%}
</head>
<body>
    <div class="backdrop"></div>
    <div class="hidden_mobile">
        <span onclick="exit_mobile()"></span>
        <ul>{% if not request.user.is_authenticated %}
            <li><a href="{% url 'users:login' %}">Log in</a></li>
            <li><a href="{% url 'users:signup' %}">Sign up</a></li>
            {% endif %}
            <li><a href="{% url 'products:products' %}">Agrowell</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'home' %}#galleria">Gallery</a></li>
            {% if request.user.is_authenticated %}
            <li><a href="{% url 'users:user_home' %}">Dashboard</a></li>
            <li><a href="{% url 'users:logout' %}">Logout</a></li>
            {% endif %}
        </ul>
    </div>
    <nav class="mobile_nav">
        <img class="toggler" src="{% static 'svgs/nav_toggler.svg' %}" alt="" onclick="bring_mobile()">
        <a href="{% url 'home' %}"><img src="{% static 'svgs/logo.svg' %}" alt=""></a>
        <a href="{% url 'products:order_final' %}"><img src="{% static 'svgs/cart.svg' %}" alt=""></a>
    </nav>
    <nav class="main_nav">
            <a href="{% url 'home' %}">
            <div class="logo">
                <img src="{% static 'svgs/logo.svg' %}" alt="">
                <span>Indus-Mega Farms</span>
            </div>
        </a>
        <ul class="nav_list">
            <li><a href="{% url 'products:order_final' %}" class="nav_a"><img src="{% static 'svgs/cart.svg' %}" alt="cart"></a></li>
            <li><a href="{% url 'products:products' %}" class="nav_a">IMagrowell</a></li>
            <li><a href="{% url 'about' %}" class="nav_a">About</a></li>  
            {% if not request.user.is_authenticated %}
            <li class="signup_cta"><a class="nav_signup" href="{% url 'users:login' %}">Log in</a></li>
            {% else %}
            <li><a href="{% url 'users:user_home' %}" class="nav_a">Dashboard</a></li>
            <li><a href="{% url 'users:logout' %}" class="nav_a">Logout</a></li>
            {% endif %}
        </ul>
    </nav>
    {% if messages %}
    {% include 'messages.html' %}
    {% endif %}
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
    {% block footer %}
    <div class="footer">
        <div class="footer_wrapper">
            <ul>
                <h4>Information</h4>
                <li><a href="{% url 'about' %}">About Us</a></li>
                <!-- <li><a href="">Policies</a></li> -->
                <li><a href="{% url 'products:order_final' %}">Orders</a></li>
                <!-- <li><a href="">Mission & Vision</a></li> -->
                <!-- <li><a href="">Terms & Conditions</a></li> -->
            </ul>
            
            <ul>
                <h4>Contact</h4>
                <li><a href="https://www.twitter.com/indusmegafarms">Twitter</a></li>
                <li><a href="https://www.facebook.com/megafarms.indus">Facebook</a></li>
                <li><a href="https://wa.me/2349035136650">Whatsapp</a></li>
                <li><a href="tel:+2349035136650">Mobile</a></li>
            </ul>
            
            <div class="newsletter">
                <form action="" method="post">
                    <label for="">Sign up for our newsletter:</label>
                    <div class="news_wrapper">
                        <form action="" method="post">
                            {% csrf_token %}
                        <input type="email" name="news_email" id="" placeholder="Email">
                        <input type="submit" value="SUBMIT">
                    </form>
                    </div>
                </form>
            </div>
        </div>
        <div class="copyright">
            <span>&copy;Indus-Mega Farms</span>
        </div>
    </div>
    {% endblock footer %}
</body>



<script>
    var mobile_navbar = document.querySelector(".hidden_mobile");
    var backdrop = document.querySelector(".backdrop");
    
    function bring_mobile(){
        mobile_navbar.style.top = 0;
        backdrop.style.display= 'block';
    }
    function exit_mobile(){
        mobile_navbar.style.top="-350px";
        backdrop.style.display= 'none';
        
    }
</script>

</html>