{% extends 'products2/base.html' %}
{% load static %}
{% load humanize %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/product_list2.css' %}">
{% endblock head %}
{% block content %}
<div class="major_wrapper">
    <div class='flex spaced' style="margin-right:30px;">
        <h1>Products</h1>
        <div>
            <button class="flex spaced filter">Filter</button>
            
        </div>
    </div>
    <div class="products flex">
        {% for product in products %}
        
        <div class="product">
            <div class="flex spaced xx">
                <div class="product_image">
                    <a href="{% url 'products:detail' code=product.code %}">
                        <img src={{product.image.url}} alt="{{product.name}}">
                    </a>
                </div>
                <div class="product_detail">
                    <h4>{{product.name|title|truncatechars:20}}</h4>
                    <p>{{product.description|truncatechars:30}}</p>
                </div>
            </div>
            <div class="price_and_cta flex spaced">
                <span><strong>&#8358;{{product.price|floatformat:2|intcomma}}</strong></span>
                <a class="purchase_cta" href="{% url 'products:add_to_cart' product.code %}">
                    <img src="{% static 'icons/basket.svg' %}">
                </a>
            </div>
        </div>
        {% empty %}
        <p>No products</p>
        {% endfor %}
    </div>
</div>
<div class="filter-modal">
    <div class="filter-card">
        <ul>
            {% for category in categories %}
            <li><a href="https://www.indusmegafarms.com/products/?category={{category}}">{{category}}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
<script>
    $('.filter').click(function(){
        $('.filter-modal').show()
    })
    $('.filter-modal').click(function(){
        $(this).hide()
    })
</script>
{% endblock content %}